.dropDown{
    overflow-y: auto;
    max-height: 300px;
}

.buttons{
    width: 200px;
}

.eachButton{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkboxLabel{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.mainContentParent{
    display: flex;
}

.categoriesMenu{
    height: 400px;
    overflow-y: auto;
}

.formAlert{
    border: solid black;
    width: 500px;
    height: 500px;
    position: relative;
    left: 35vw;
    overflow-y: auto;
}

.searchButton{
    width: 460px;
    position: relative;
    top: 15px;
    margin-bottom: 15px;
}

.dates{
    position: fixed;
    left: 200px;
    display: flex;
}

.tableResult{
    word-wrap: break-word;
    max-width: 12vw;
}

.tableDiv{
    height: 75vh;
    overflow-y: auto;
}

.tableHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton{
    position: relative;
    right: 35vw;
    bottom: 20px;
}